# {{ ansible_managed }}
Pool {
  Name = {{ inventory_hostname }}-inc
  Label Format = {{ inventory_hostname }}-inc
  @{{ hostvars[bacula_director]['config_path'] }}/bacula/pool_defaults.conf
  @{{ hostvars[bacula_director]['config_path'] }}/bacula/pool_inc_defaults.conf
}
