# {{ ansible_managed }}
Director {
  Name = {{ bacula_director }}-dir
  Password = {{ lookup('password','/etc/ansible/credentials/' + bacula_director + '/dirpassword length=32') }}
  Address = {{ hostvars[bacula_director]['inventory_hostname'] }}
}
